<div class="article-list">
  <% @posts.each do |post| %>
    <div class="row">
      <article class="col-md-6 col-md-offset-3">
        <img class="img-responsive" src="<%= post.image_url %>" alt="">
        <h3><a href="#"><%= post.title %></a></h3>
        <h4><%= truncate(post.contents) %></h4>
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to "/posts/#{post.id}", :class => "btn btn-primary" do %>
            <i class="fa fa-search-plus"></i> Show
          <% end %>
          <%= link_to "/posts/#{post.id}/edit", :class => 'btn btn-warning' do %>
            <i class="fa fa-pencil-square-o"></i> Edit
          <% end %>
          <%= link_to "/posts/#{post.id}/destroy", :class => 'btn btn-danger', :data => {confirm: 'Are you sure?'} do %>
            <i class="fa fa-trash-o"></i> Destroy
          <% end %>
        </div>
      </article>
    </div>
  <% end %>
</div>
