<style>
  .hero {
    background-image: url(<%= @post.image_url %>);
  }
</style>

<div class="hero">
  <div class="container">
    <h1><%= @post.title %></h1>
  </div>
</div>

<div class="container content">
  <div class="col-md-8 col-md-offset-2">
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to edit_post_path(@post.id), :class => 'btn btn-warning' do %>
        <i class="fa fa-pencil-square-o"></i> Edit
      <% end %>
      <%= link_to post_path(@post.id), :class => 'btn btn-danger', :data => {confirm: 'Are you sure?'}, :method => :delete do %>
        <i class="fa fa-trash-o"></i> Destroy
      <% end %>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <p><%= @post.contents %></p>
  </div>
</div>
